
/*---------------サイト全体------------------*/

:root {
  color-scheme: light dark;
  color: light-dark(#141414, gainsboro);
  background-color: light-dark(white, #141414);
}
a:link {
  color: light-dark(blue, royalblue);
}
a:visited {
  color: light-dark(purple, mediumpurple);
}
body {
  padding: 0 10%;
}
@media screen and (width <= 50em) {/*小さい画面でだけ適用される*/
  body {
    padding: 0;
  }
}
hr {
  width: 90%;
}
p {
  text-indent: 1em;
  margin: 0;
}

/*-----------------ヘッダー------------------------*/

ul.breadcrumb {
  display: flex;/*隙間なく詰める*/
  overflow-x: auto;
  list-style: none;/*箇条書きの丸を表示しない*/
  padding: 0;
  margin: 0.5em 0;
  text-wrap-mode: nowrap;/*liの中で改行しない*/
}
.breadcrumb li:not(:last-child)::after {/*最後のliでないなら、liの後に"/"を挿入*/
  margin: 0 0.5em;
  content: "/";
}
div.site-name {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
}

/*-------------------箇条書きしまうやつ-------------------------*/

ul.contents-details {
  list-style: none;
  padding-left: 1.5em;
}

/*-------------------------リンクに画像出すやつ--------------------------------*/

a.external-link {
  padding-right: 1em;
  background-image: url(/resources/images/external-link.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 1em;
}
a.pdf {
  padding-right: 1em;
  background-image: url(/resources/images/pdf.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 1em;
}
@media (prefers-color-scheme: dark){/*本当はlight-dark関数で書きたかったが、iPhoneのsafariでうまくいかなかった*/
  a.external-link {
    padding-right: 1em;
    background-image: url(/resources/images/external-link-dark.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 1em;
  }
  a.pdf {
    padding-right: 1em;
    background-image: url(/resources/images/pdf-dark.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 1em;
  }
}

/*----------------------コード---------------------------------*/

code {
  background-color: light-dark(#eeeeee, #333333);
  border-radius: 3px;
  font-family: "Courier New", monospace;
  padding: 0 0.2em;
  margin: 0 0.2em;
}

/*---------------------------テスト用----------------------------------*/

.test {
  border: 1px dashed blue;
}
