ul.breadcrumb {
  display: flex;/*一つの行に並べて書く*/
  flex-wrap: wrap;/*はみ出したら次の行へ行く*/
  list-style: none;/*箇条書きの丸を表示しない*/
  padding: 0;
  margin: 0.5em 0;
}
.breadcrumb li:not(:last-child)::after {/*最後のliでないなら、liの後に"/"を挿入*/
  margin: 0 0.5em;
  content: "/";
}
@media screen and (width <= 50em) {/*小さい画面でだけ適用される*/
  ul.breadcrumb {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
  }
  body {
    padding: 0;
  }
}
div.site-name {
  display: flex;
  justify-content: center;
  color: #00539e;
  font-size: 2em;
  font-weight: bold;
}
body {
  padding: 0 10%;
}
hr {
  width: 90%;
}
ul.contents-details {
  list-style: none;
  padding-left: 1.5em;
}
p {
  text-indent: 1em;
  margin: 0;
}
.test {
  border: 1px dashed blue;
}
