.breadcrumb {
  padding: 0.5em;
}
ul.breadcrumb {
  display: flex;/*一つの行に並べて書く*/
  flex-wrap: wrap;/*はみ出したら次の行へ行く*/
  list-style: none;/*箇条書きの丸を表示しない*/
  margin: 0;
  padding: 0;
  align-items: end;
}
.breadcrumb li:not(:last-child)::after {/*最後のliでないなら、liの後に"/"を挿入*/
  /*display: inline-block;*/
  margin: 0 0.25rem;
  content: "/";
}
/*ul {
  margin-top: 0em;
  margin-bottom: 0em;
}*/
h1 {
  display: flex;
  justify-content: center;
  color: #00539e;
}
body {
  padding: 0 10%;
}
@media screen and (width <= 50em) {
  /*小さい画面でだけ適用される*/
  body {
    padding: 0;
  }
}
hr {
  width: 90%;
}
ul.contents-details {
  list-style: none;
  padding-left: 1.5em;
}
p {
  text-indent: 1em;
  margin: 0;
}
.test {
  border: 1px dashed blue;
}
